 body{
        width:100%;
        height:100%;
        background:#ffc600;
    }
    .duij{
        width:100%;
        height:auto;
        background:#ffc600;
    }
    .duij-title{
        width:82%;
        height:auto;
        margin:0 auto;
        margin-top:2%;
        margin-bottom:5px;
    }
    .duij-title>img{
        width:100%;
    }
    .duij-k{
        width:90%;
        height:auto;
        background:#fff;
        margin:0 auto;
        position:relative;
        margin-bottom:35px;
        overflow:hidden;
    }
    .duij-k>img{
        width:100%;
    }
    .duij-k>span{
        width:1px;
        height:100%;
        float:left;
        background:#e9e9e9;
        position:absolute;
        top:0.8%;
        left:50%;
    }
    .duij-b{
        width:100%;
        height:auto;
        color:#4a1f06;
        padding-bottom:150px;
    }
    .duij-bbk{
        width:100%;
        height:auto;
        overflow:hidden;
    }
    .duij-bt,.duij-bb{
        width:100%;
        height:35px;
        text-align: center;
        font-size:18px;
    }
    .duij-bt>div,.duij-bb>div{
        width:50%;
        height:100%;
        float:left;
        border-bottom:1px solid #e9e9e9;
    }
    .duij-bb{
        height:35px;
        line-height: 35px;
        font-size:16px;
    }